<%- include ('../partials/header') %>

<section id="show page">
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>Flight Number:</div>
    <div><%= flight.flightNo %></div>
    <div>Departs:</div>
    <div><%= flight.departs %></div>
</section>
<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Airport</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <label>Arrival 
        <input type="datetime-local" name="arrival">
    </label>
    <input type="submit" value="ADD">
</form>

<% if (flight.destination.length) { %>
<table>
    <thead>
        <tr>
            <th>Airport</th>
            <th>Date/Time</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destination.forEach(function(d) { %>
            <tr>
                <td><%= d.airport %></td>
                <td><%= d.arrival %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
    <h5>No Destinations Yet</h5>
<% } %>

<% if (flight.ticket.length) { %>
    <table>
        <thead>
            <tr>
                <th>Airport</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            <% flight.ticket.forEach(function(t) { %>
                <tr>
                    <td><%= t.seat %></td>
                    <td><%= t.price %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <% } else { %>
        <h5>No Tickets Yet</h5>
    <% } %>
    

<a href="/flights/<%= flight._id %>/tickets/new">ADD TICKET</a>
<%- include ('../partials/footer') %>